.container {
  display: flex;
}

.portfolio {
  width: 100%;
}

.portfolioList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.portfolioList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolioList li {
  margin: 20px;
  list-style-type: none;
  position: relative;
  overflow: hidden;
}

.miniPhoto {
  display: block;
  transition: transform 0.2s ease-in-out;
}

.miniPhoto:hover {
  transform: scale(0.93);
}

.miniPhoto {
  width: 350px;
}
